</br><div class="container">
  <div class="row">
    <span class="p-2 mb-1 bg-secondary">Order Histories</span>
  </div>
</div></br>
<div class="container">
  <div class="row">
    <table class="table col-8 text-light">
      <thead>
        <tr class="table-active">
          <th>Day</th>
          <th>Customer</th>
          <th>Amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <% @orders.each do |order| %>

        <tr>
          <td><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order.id) %></td>
          <td>
            <%= order.name %>
          </td><% order_amount = 0 %>
          <td><% order.order_details.each do |order_detail| %>

          <% order_amount += order_detail.amount %>
          <% end %>
          <%= order_amount %></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
<%= paginate @orders %>