@use '~bootstrap/scss/bootstrap';

.main-container{
  position: relative;
}
.main-container img{
  width: 1350px;
  height: 1200px;
  background-size: auto;
  padding: 10px;
}
.text{
  position: absolute;
  left: 0;
  right: 0;
}

html {
  font-family:  "Book Antiqua", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

header{
  font-family: "Book Antiqua", sans-serif;
}

body {
    font-family: "Book Antiqua", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}